body {
  background-color: #2b2d42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  flex-shrink: 0;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 16px;
}

.item3 {
  grid-column: span 2;
}

.item {
  background-color: #8d99ae;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  padding: 10px;
  grid-gap: 15px;
  border-radius: 10px;
}

h3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

p {
  font-family: Lato, sans-serif;
  font-size: 10px;
  color: #4a4e69;
  margin: 0;
}

img {
  height: 60px;
  grid-row-start: 1;
  display: flex;
  align-items: center;
}

article {
  grid-column-start: 2;
  font-family: Inconsolata, sans-serif;
}

@media (max-width: 50rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 16px;
  }
  .item {
    grid-column-start: 1;
  }
}
